@import url('https://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.cdnfonts.com/css/Lato');

html {
  background-color: #fff;
  font-family: 'Cocogoose', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-size: 40px;
  margin-bottom: 12px;
  color: #ec5242;
}

@media screen and (max-width: 768px) {
  .darkMenu {
    display: none;
  }

  .bigMenu {
    display: none;
  }

  .bigMenu ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    overflow: hidden;
    padding-right: 150px;
  }

  .quotes a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 0.85rem;
  }

  .bigMenu ul a {
    display: none;
  }

  .logo {
    display: none;
  }

  .hamburger {
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 0;
    border: #fff;
    cursor: pointer;
    color: #000211;
    background-color: inherit;
  }

  .menuIcon {
    font-size: 40px;
    margin: 20px;
  }

  .closeIcon {
    display: none;
    background: inherit;
    color: rgb(82, 79, 79);
    font-size: 40px;
    margin: 20px;
  }

  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: #ececee;
    opacity: 0;
    color: #fff;
    list-style: none;
    padding-top: 4rem;
    padding-left: 2rem;
    height: 100%;
  }

  .menuItem {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #ec5242;
    text-decoration: none;
  }

  .showMenu {
    transform: translateY(0);
  }

  .containerOne {
    background-image: url('../img/desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 1200px;
    width: 100%;
    margin-bottom: 12px;
    margin-top: 0;
    position: relative;
  }

  .imageDiv {
    margin: 20px;
  }

  .imageDiv h3,
  h1 {
    color: #ec5242;
  }

  .imageDiv h3 {
    font-family: 'Lato', sans-serif;
    color: #d84d40;
    font-weight: 500;
    font-size: 30px;
  }

  .imageDiv p {
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
    color: #504f4f;
    font-size: 20px;
  }

  .imageDiv h5 {
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
    color: #504f4f;
    font-size: 20px;
  }

  .textBox {
    font-family: 'Lato', sans-serif;
    border: 3px solid white;
    font-weight: normal;
    font-size: 18px;
    padding: 12px 12px;
  }

  time {
    line-height: 38px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #504f4f;
  }

  .programs {
    background-image: url('../img/programs.jpg');
    padding-bottom: 12px;
  }

  .programs h2 {
    font-family: 'Lato', sans-serif;
    color: #fff;
    padding: 20px;
    font-weight: normal;
    text-align: center;
  }

  .programLine {
    width: 25px;
    height: 3px;
    background-color: #ec5242;
  }

  .programCards {
    background-image: url(../img/program-card.jpg);
    background-repeat: repeat-x;
    margin: 15px 15px 0 15px;
    padding: 5px;
    display: grid;
    grid-template-columns: 15% 30% 55%;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }

  .allPrograms h3 {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 24px;
  }

  .speakerDetails h3 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'lato', sans-serif;
    margin-bottom: 6px;
  }

  .aboutImageDiv h3 {
    padding-top: 40px;
    font-weight: 413;
    color: #f9412b;
    font-size: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }

  .programCards div h3 {
    color: #ec5242;
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
    width: 90px;
    margin-top: 37px;
  }

  .cardsColumn {
    margin: auto;
  }

  .fa {
    margin-top: 37px;
  }

  .allPrograms {
    margin: 30px 35px 30px 35px;
    height: 70px;
    background: #ec5242;
    text-align: center;
    padding-top: 1px;
  }

  .speakersGrid {
    height: auto;
    background: white;
    margin: 15px 15px 10px 15px;
    border-bottom: solid;
    border-color: rgb(219, 214, 214);
    border-width: 1px;
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 5px;
  }

  .gridImage img {
    max-width: 120px;
    max-height: 120px;
  }

  .speakerDetails {
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    place-self: start;
  }

  .speakerDetails h4 {
    font-size: 0.95rem;
    color: #ec5242;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .speakers h2 {
    text-align: center;
  }

  .partnersContainer {
    background-color: #414246;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .partnersContainer h2 {
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 10px;
  }

  .partnersContainer hr {
    text-align: center;
    border-color: #ec5242;
    width: 25px;
    margin-bottom: 15px;
  }

  .partnersContainer .partnerLogo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .partnersContainer .partnerImage {
    margin: 20px;
    width: 125px;
    height: 40px;
  }

  .mainTitle h2 {
    font-family: 'Lato', sans-serif;
    color: #fff;
    padding: 20px;
    font-weight: normal;
    text-align: center;
  }

  .footerDiv {
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 15px;
    height: 150px;
  }

  .patents {
    padding-left: 5px;
    font-size: 18px;
    align-self: center;
    justify-content: end;
    width: 100%;
    margin-left: 10px;
  }

  .coincityLogo {
    align-self: center;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    text-align: end;
  }

  .logoFooter {
    height: 30px;
    width: auto;
  }

  .footerText {
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
    color: #a5a1a1;
    font-size: 16px;
  }

  .aboutFooter {
    background: #000;
    height: 300px;
  }

  .aboutImageDiv h1 {
    text-align: center;
  }

  .aboutTextBox {
    padding: 15px;
    font-family: 'Lato', sans-serif;
    border: 1px solid #d3d3d3;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 550;
    color: #575757;
    background-color: #fff;
    text-align: center;
    line-height: 2;
    height: 438px;
  }

  .events {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: 1px solid #d3d3d3;
  }

  .events h2 {
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 10px;
    margin-top: 20px;
  }

  .events hr {
    text-align: center;
    width: 25px;
    margin-bottom: 15px;
    color: #ec5242;
    background-color: #ec5242;
    height: 2px;
    border: none;
  }

  .events p {
    font-size: 12px;
    text-align: center;
    padding: 0 30px;
  }

  .events .event_image {
    width: 90%;
    max-width: 90%;
    max-height: 90%;
    height: 90%;
  }

  .events .orange {
    width: 90%;
    height: 100%;
    position: absolute;
    background-color: #f45437c2;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .events .event_container {
    height: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    color: white;
  }

  .events .date {
    font-size: 35px;
    font-family: 'COCOGOOSE', sans-serif;
  }

  .events .description {
    font-size: 20px;
  }

  .locale {
    text-align: center;
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
    color: #504f4f;
    font-size: 20px;
  }

  .mail {
    text-align: center;
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
    color: #504f4f;
    font-size: 14px;
  }

  .commons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .commons h2 {
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 10px;
    margin-top: 20px;
  }

  .commons hr {
    text-align: center;
    width: 25px;
    margin-bottom: 15px;
    color: #ec5242;
    background-color: #ec5242;
    height: 2px;
    border: none;
  }

  .commons p {
    font-size: 12px;
    font-weight: 550;
    text-align: center;
    padding: 0 30px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
  }

  .commons .commons_logo {
    width: 70%;
    border: 1px solid #d3d3d3;
    margin: 20px;
  }
}
